<html>
    <head>
        <title>Input Form</title>
        <style>
            div {
                padding-bottom: 10px;
            }
        </style>
    </head>
    <body>
        <form method="POST" id="email-form">
            <div>
                <label for="to">To Email:</label>
                <input type="email" name="to" value="caroline.orsi@gmail.com">
            </div>

            <div>
                <label for="to_name">To Name:</label>
                <input type="text" name="to_name" value="caroline">
            </div>

            <div>
                <label for="from">From Email:</label>
                <input type="email" name="from" value="juliabrown.sf@gmail.com">
            </div>

            <div>
                <label for="from_name">From Name:</label>
                <input type="text" name="from_name" value="julia">
            </div>

            <div>
                <label for="subject">Subject:</label>
                <input type="text" name="subject" value="This is the subject">
            </div>

            <div>
                <label for="body">Body:</label>
                <textarea name="body" cols="40" rows="5">
                    This is the body.
                </textarea>
            </div>

            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
        <p id="response"></p>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            $("#email-form").submit(sendMessage);

            function sendMessage(evt) {
                evt.preventDefault();
                // $.post(
                //     '/email',
                //     {'email': 'caroline.orsi@gmail.com'
                //     },
                //     function(response) {
                //         $("#response").text(response);
                //     }
                // );
                postobj = {'email': 'caroline.orsi@gmail.com'}

                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(postobj),
                    dataType: 'json',
                    url: '/email',
                    success: function(response) {
                        $("#response").text("success js");
                    }
                });
            };
        </script>
    </body>
</html>