<html>
    <head>
        <title>Input Form</title>
        <style>
            div {
                padding-bottom: 10px;
            }
        </style>
    </head>
    <body>
        <form method="POST" id="email-form">
            <div>
                <label for="to">To Email:</label>
                <input type="text" name="to" id="to" value="caroline.orsi@gmail.com">
            </div>

            <div>
                <label for="to_name">To Name:</label>
                <input type="text" name="to_name" id="to_name" value="caroline">
            </div>

            <div>
                <label for="from">From Email:</label>
                <input type="text" name="from" id="from" value="juliabrown.sf@gmail.com">
            </div>

            <div>
                <label for="from_name">From Name:</label>
                <input type="text" name="from_name" id="from_name" value="julia">
            </div>

            <div>
                <label for="subject">Subject:</label>
                <input type="text" name="subject" id="subject" value="This is the subject">
            </div>

            <div>
                <label for="body">Body:</label>
                <textarea name="body" cols="40" rows="5" id="body">This is the body.</textarea>
            </div>

            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
        <p id="response"></p>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            $("#email-form").submit(sendMessage);

            function sendMessage(evt) {
                evt.preventDefault();

                msg = {
                    'to': $("#to").val(),
                    'to_name': $("#to_name").val(),
                    'from': $("#from").val(),
                    'from_name': $("#from_name").val(),
                    'subject': $("#subject").val(),
                    'body': $("#body").val()
                };

                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(msg),
                    dataType: 'json',
                    url: '/email',
                    success: function(response) {
                        $("#response").text(response.message);
                    }
                });
            };
        </script>
    </body>
</html>